# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn

<table>
    <th>
      Data Science Tools  
    </th>
    <tr><td>Jupyter Notebook </td></tr>
    <tr><td>RStudio</td></tr>
     <tr><td>Anaconda</td></tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#  This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

<b> Objectives:<b>
<p>List popular languages for Data Science:<p>
    <ul>
        <li>Python</li>
        <li>R</li>
        <li>Julia</li>
        <li>Java</li>
    </ul>

## Author:
<p> Rutam Ri